<div style="position: relative;height: 100%;">
    <div class="logo-container">
        <img src="../../../assets/logo.png" style="width: 66.9px;height: 66.9px;">
        <span></span>
    </div>

    <div class="menu-items">
        <div class="opened-menu-item pointer" *ngFor="let item of items" [routerLink]="[item.link]" routerLinkActive="router-link-active">
            <mat-icon>{{item.icon}}</mat-icon>
            <span *ngIf="this.isOpened" class="title {{sharedService.theme}}-text">{{item.text}}</span>
        </div>
    </div>

    <button mat-icon-button (click)="toggleSideBar()" id="toggle-id" style="position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;">
        <mat-icon *ngIf="isOpened">arrow_back_ios</mat-icon>
        <mat-icon *ngIf="!isOpened">arrow_forward_ios</mat-icon>
    </button>
</div>